lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
*.ppk

**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

package-lock.json

pids
logs
results
tmp

# Coverage reports
coverage

# API keys and secrets
.env

# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

#Merges
merges.command
merges.sh

# ignore yarn.lock
yarn.lock