// Pages

@mixin page {
  transition-duration: 500ms;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)),
    url('~@/assets/images/loginBackground.jpg') no-repeat fixed center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;

  &__title {
    text-align: center;
    margin: 0;
  }

  &__container {
    width: 80%;
    height: 100%;
    background: $black;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    padding: 0 2rem;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 10px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 3px;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}

@mixin subPage {
  &__arrow {
    font-size: 2rem;
    cursor: pointer;
    margin-left: 1rem;
    width: 2rem;
  }
  &__heading {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    justify-content: space-between;
  }
}
